@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Contact</h2>
    </div>
    <div class="panel-body">
        <p>
            <span class="boldText">Cell:</span> 1 (907) 227-1772
        </p>
        <p>
            <span class="boldText">Email:</span>
            <a target="_blank" href="mailto:joeladadamsdesign@gmail.com">joeladadamsdesign@gmail.com</a>
        </p>
        <p>
            <span class="boldText">GitHub:</span>
            <a target="_blank" href="https://github.com/joelaphoto">joelaphoto</a>
        </p>
        <p>
            <span class="boldText">LinkedIn:</span>
            <a target="_blank" href="https://www.linkedin.com/in/joelradams/">joelradams</a>
        </p>
    </div>
</div>
